@font-face {
    font-family: "OpenSans";
    src: url("../font/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "OpenSans";
    font-weight: bold;
    src: url("../font/OpenSans-Bold.ttf");
}

@font-face {
    font-family: 'Tagesschrift';
    src: url('../font/ds-digi.ttf');
}

html, body {
    background: #7ab58a;
    background: -moz-linear-gradient(top, #7ab58a 0%, #558c69 100%);
    background: -webkit-linear-gradient(top, #7ab58a 0%, #558c69 100%);
    background: linear-gradient(to bottom, #7ab58a 0%, #558c69 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ab58a', endColorstr='#558c69', GradientType=0);
    font-family: "OpenSans", Arial, sans-serif;
    height: 100%;
    margin: 0;
}

a {
    color: #000;
    display: flex;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0.5em 1em;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    border-style: none;
    background: url(../img/arrow-204-16.png) no-repeat right 10px center #ddd;
    min-width: 160px;
    background-color: rgba(122, 181, 138, 1);
    color: #ffffff;
    padding: 0.5em 1em;
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

select:hover,
header .foos-menu-item:hover,
.foos-game-details-link:hover,
.foos-end-page-link:hover {
    cursor: pointer;
    background-color: rgba(122, 181, 138, 1);
    color: white;
}

body,
header,
nav,
main,
div {
    display: flex;
}

#foos-body,
#foos-main-container,
.foos-part,
.foos-part-body,
.foos-release-body,
.foos-game-details-winners,
.foos-game-details-losers,
.foos-game-sub-details-players,
.foos-table,
.foos-game-replay-display-team {
    flex-direction: column;
}

#foos-players .foos-part-body,
#foos-teams .foos-part-body,
#foos-team .foos-part-body, {
    flex-direction: row;
}

/* Flex centered items on main axis */
#foos-main,
#foos-players .foos-player-link,
#foos-team .foos-part-body,
.foos-game-replay-title-team,
.foos-game-replay-display-team {
    justify-content: center;
}

/* Flex centered items on cross axis */
#foos-body,
.foos-player-link,
.foos-team-link,
.foos-cell-team-name,
.foos-game-replay-goal {
    align-items: center;
}

/* Flex unshrinkable */
.foos-part {
    flex-shrink: 0;
}

/* Flex growing */
#foos-main {
    flex-grow: 1;
    width: 100%;
    overflow-y: auto;
}

#foos-players .foos-part-body,
#foos-teams .foos-part-body {
    flex-wrap: wrap;
    flex-direction: row
}

/***************************************************
** Color settings
****************************************************/
header {
    background-color: #5B8872;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    flex-shrink: 0;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
}

.foos-menu-item {
    background-color: #5B8872;
    color: #fff;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#foos-menu-item-logout {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    position: absolute;
    z-index: 1;
}

.foos-row-even, .foos-game-comment {
    background-color: #CDCBC0;
}

.foos-part {
    background-color: #EAE9DE;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin-top: 15px;
    margin-bottom: 30px;
}

.foos-end-page-link {
    background-color: #EAE9DE;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin-top: 15px;
    margin-bottom: 30px;
    justify-content: center;
    flex-shrink: 0;
}

.foos-game-details-link {
    align-self: center;
    /*background-color: #7ab58a;*/
    background-color: rgba(194, 192, 181, 0.9);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    color: white;
    justify-content: center;
    margin: 10px;
    padding: 20px:
}

.foos-header {
    background-color: #95C6A0;
}

.foos-text,
span {
    padding: 0.5em 1em;
}

img {
    padding: 0.5em 1em;
    border-radius: 50%;
}

.foos-part-title {
    align-items: center;
    background-color: #95C6A0;
    color: white;
    font-size: 20px;
    font-weight: bold;
    flex-direction: column;
    flex-shrink: 0;

}

.foos-week {
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
}

.foos-filtered-teams {
    font-size: 12px;
}

.foos-game-comment,
#foos-league-details .foos-part-body,
.foos-game-details-date {
    font-size: 14px;
}

.foos-game-replay-goal-score,
.foos-game-score {
    margin: 10px;
    background-color: rgba(28, 116, 128, 0.9);
    border: 1px color #1C7480;
    border-radius: 3px;
    color: white;
    font-family: 'Tagesschrift', 'Georgia', serif;
    font-weight: bold;
    font-size: 40px;
}

#foos-main-container {
    width: 800px;
}

.foos-part:last-child {
    margin-bottom: 30px;
}

.foos-part-body {
    padding: 5px;
}

#foos-teams .foos-team-link {
    flex: 0 0 50%;
}

#foos-players .foos-player-link {
    flex: 0 0 25%;
}

#foos-weeks .foos-week {
    flex: 0 0 20%;
}

#foos-weeks .foos-part-body {
    flex-direction: row;
    flex-wrap: wrap;
}

.foos-part-body-table {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.foos-game-details {
    width: 100%;
}

.foos-game-details-winners,
.foos-game-details-losers {
    flex: 0 0 50%;
}

.foos-game-comment {
    margin: 0.5em 1em;
    border-radius: 0.5em;
}

/***************************************************
** Foos league table
****************************************************/
.foos-cell-rank,
.foos-cell-number {
    flex: 0 0;
    min-width: 3em;
}

.foos-cell-text {
    flex: 1 0;
    min-width: 10em;
}

.foos-cell-3-numbers {
    min-width: 5em;
}

.foos-cell-stat {
    flex: 1 0;
}

/***************************************************
** Game replay
****************************************************/
/***   .foos.game   ***/
.foos-game-title {
    flex-direction: row;
    justify-content: center;
}

.foos-game-title a {
    color: #fff;
}

.foos-game-details-date {
    align-self: center;
}

.foos-game-replay-title-team,
.foos-game-replay-goal-side,
.foos-game-replay-display-team {
    flex: 1 0 0;
}

.foos-game-details-winners a {
    justify-content: flex-end;
}

.foos-game-score-winners {
    background-color: rgba(141, 190, 184, 0.5);
    justify-content: flex-end;
    align-items: center;
}

.foos-game-score-losers {
    background-color: rgba(141, 190, 184, 0.5);
    justify-content: flex-start;
    align-items: center;
}

img.foos-table-img {
    border-radius: 0;
}

/* Game ratings */
.foos-game-winner-rating, .foos-game-loser-rating {
    font-size: 1em;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.foos-game-winner-rating {
    justify-content: flex-start;
}

.foos-game-loser-rating {
    justify-content: flex-end;
}

.foos-game-rating-plus > span {
    color: #16a085;
    font-weight: bold;
}

.foos-game-rating-minus > span {
    color: #c0392b;
    font-weight: bold;
}

/*Foos Team Details*/
.foos-team-details {
    flex-direction: row;
    justify-content: space-between;
}

.foos-team-details-players {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.foos-team-details-stats {
    margin-left: 20px;
}

.foos-team-details-stats img {
    padding: 0;
}

/*Foos Player Details*/
.foos-player-details {
    flex-direction: row;
    justify-content: space-between;
    flex-flow: wrap;
}

.foos-player-details-stats {
    margin-left: 20px;
}

.foos-player-details-stats img {
    padding: 0;
}

.foos-player-teams {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 33%;
    flex-flow: wrap;
}

.foos-player-teams img {
    padding: 5px;
}

/*Games*/
.foos-games-calendar {
    flex-direction: column;
    align-items: center;
}

.foos-games-calendar-control {
    padding-top: 10px;
    padding-left: 20px;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
}

.foos-games-calendar-control button {
    margin-right: 5px;
}

.foos-calendar-games {
    flex-direction: column;
}

.foos-calendar-nogames {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foos-calendar-nogames span {
    padding: 0;
}

.foos-calendar-nogames h4 {
    color: #003b85;
}

.games-btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
}

.hidden {
    display: none;
}