/***************************************************
** Generic settings
****************************************************/

/* Default values removal */
body, ul {
    margin: 0;
}

a {
    text-decoration: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    background: url(../img/arrow-204-16.png) no-repeat right 10px center #ddd;
    min-width: 160px;
}

/* Document values */
html, body {
    height: 100%
}

/***************************************************
** Flex generic settings
****************************************************/

/* Flex containers */
body,
nav,
main,
div,
a {
    display: flex;
}

/* Flex columns */
#foos-body,
#foos-main-container,
.foos-part-title,
.foos-part,
.foos-part-body,
.foos-release-body,
.foos-game-details-winners,
.foos-game-details-losers,
.foos-game-sub-details-players,
.foos-table,
.foos-game-replay-display-team {
    flex-direction: column;
}

#foos-players .foos-part-body,
#foos-teams .foos-part-body,
#foos-team .foos-part-body,
#foos-weeks .foos-part-body {
    flex-direction: row;
}

/* Flex centered items on main axis */
#foos-main,
#foos-players .foos-player-link,
#foos-team .foos-part-body,
.foos-week,
.foos-game-details-link,
.foos-end-page-link,
.foos-game-replay-title-team,
.foos-game-replay-display-team {
    justify-content: center;
}

/* Flex centered items on cross axis */
#foos-body,
.foos-part-title,
.foos-player-link,
.foos-team-link,
.foos-cell-team-name,
.foos-game-replay-goal {
    align-items: center;
}

/* Flex unshrinkable */
#foos-nav,
.foos-part,
.foos-part-title,
.foos-end-page-link {
    flex-shrink: 0;
}

/* Flex growing */
#foos-main {
    flex-grow: 1;
}

#foos-players .foos-part-body,
#foos-teams .foos-part-body,
#foos-weeks .foos-part-body {
    flex-wrap: wrap;
}

/***************************************************
** Color settings
****************************************************/

#foos-nav,
.foos-header,
.foos-part-title,
.foos-game-details-link,
.foos-end-page-link,
select {
    background-color: #3d9241;
    color: #ffffff;
}

body {
    background-color: #f7f7f7;
}

.foos-part {
    background-color: #fff;
}

body,
a {
    color: #000;
}

select {
    cursor: pointer;
}

select:hover,
#foos-nav > *:hover,
.foos-game-details-link:hover,
.foos-end-page-link:hover {
    background-color: #2c682f;
}

#foos-nav > a {
    color: #fff;
}

.foos-row-even, .foos-game-comment {
    background-color: #C8E6C9;
}

select {
    border: 1px solid #3d9241;

}

.foos-part,
.foos-end-page-link {
    border: 1px solid #3d9241;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.4);
}

#foos-nav {
    box-shadow: 0px 6px 3px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

/***************************************************
** Padding
****************************************************/

/* Text elements */
.foos-text,
span,
img,
ul,
select {
    padding: 0.5em 1em;
}

/***************************************************
** Text
****************************************************/

@font-face {
    font-family: "OpenSans";
    src: url("../font/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "OpenSans";
    font-weight: bold;
    src: url("../font/OpenSans-Bold.ttf");
}

@font-face {
    font-family: 'Tagesschrift';
    src: url('../font/ds-digi.ttf');
}

body, select {
    font-family: "OpenSans", Arial, sans-serif;
}

#foos-nav {
    font-size: 24px;
    font-weight: bold;
}

.foos-week,
.foos-part-title {
    font-size: 20px;
    font-weight: bold;
}

select {
    font-size: 16px;
}

.foos-filtered-teams {
    font-size: 12px;
}

.foos-game-comment,
#foos-league-details .foos-part-body,
.foos-game-details-date {
    font-size: 14px;
}

.foos-game-replay-goal-score,
.foos-game-score {
    font-family: 'Tagesschrift', 'Georgia', serif;
    font-weight: bold;
    font-size: 24px;
}

.foos-game-score {
    font-size: 36px;
}

/***************************************************
** Static part
****************************************************/

#foos-nav {
    width: 100%;
}

#foos-main {
    width: 100%;
    overflow-y: auto;
}

#foos-main-container {
    width: 800px;
}

/***************************************************
** Dynamic part
****************************************************/

.foos-part,
.foos-end-page-link {
    margin-top: 10px;
}

.foos-part:last-child {
    margin-bottom: 30px;
}

.foos-end-page-link {
    margin-bottom: 10px;
}

.foos-part-title {
}

.foos-part-body {
    padding: 5px;
}

#foos-teams .foos-team-link {
    flex: 0 0 50%;
}

#foos-players .foos-player-link {
    flex: 0 0 25%;
}

#foos-weeks .foos-week {
    flex: 0 0 20%;
}

.foos-part-body-table {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.foos-game-details {
    width: 100%;
}

.foos-game-details-winners,
.foos-game-details-losers {
    flex: 0 0 50%;
}

.foos-game-comment {
    margin: 0.5em 1em;
    border-radius: 0.5em;
}

/***************************************************
** Foos league table
****************************************************/

.foos-cell-rank,
.foos-cell-number {
    flex: 0 0;
    min-width: 3em;
}

.foos-cell-text {
    flex: 1 0;
    min-width: 10em;
}

.foos-cell-3-numbers {
    min-width: 5em;
}

.foos-cell-stat {
    flex: 1 0;
}

/***************************************************
** Game replay
****************************************************/

.foos-game-replay-title-team,
.foos-game-replay-goal-side,
.foos-game-replay-display-team {
    flex: 1 0 0;
}

.foos-game-details-winners a {
    justify-content: flex-end;
}

.foos-game-score-winners {
    justify-content: flex-end;
    align-items: center;
}

.foos-game-score-losers {
    justify-content: flex-start;
    align-items: center;
}

/* Game ratings */
.foos-game-winner-rating, .foos-game-loser-rating {
    font-size: 1em;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.foos-game-winner-rating {
    justify-content: flex-start;
}

.foos-game-loser-rating {
    justify-content: flex-end;
}

.foos-game-rating-plus > span {
    color: #3d9241;
}

.foos-game-rating-minus > span {
    color: #a3251c;
}
