table.foos-ranking-table {
    width: 100%;
    border-collapse: collapse;
}

table.foos-ranking-table th {
    padding: 0.5em 1em;
}

table.foos-ranking-table thead > tr > th {
    background-color: #3d9241;
    color: #ffffff;
}

table.foos-ranking-table thead > tr > td {
    padding: 0;
}

table.foos-ranking-table tr:nth-child(even) {
    background-color: #C8E6C9;
}

table.foos-ranking-table .ranking-img {
    width: 5%;
}

table.foos-ranking-table .ranking-number {
    width: 5%;
    text-align: center;
}

table.foos-ranking-table .ranking-number > a {
    display: block;
}

table.foos-ranking-table .ranking-player {
    /*width: 55%;*/
    text-align: center;
}

table.foos-ranking-table .ranking-player > a {
    display: block;
}

table.foos-ranking-table .ranking-history {
    width: 45%;
}

table.foos-ranking-table .ranking-icon {
    width: 1%;
    padding: 0;
}

table.foos-ranking-table .ranking-icon img {
    padding: 0;
}

table.foos-ranking-table .ranking-number img {
    padding: 0;
}

table.foos-ranking-table .ranking-number span {
    padding: 0;
}

table.foos-ranking-table td.ranking-icon {
    vertical-align: bottom;
}

/*ranking team*/
table.foos-ranking-table .ranking-team-img {
    width: 5%;
}

table.foos-ranking-table .ranking-team-number {
    width: 5%;
    text-align: center;
}

table.foos-ranking-table .ranking-team-number > a {
    display: block;
}

table.foos-ranking-table .ranking-team-name {
    text-align: center;
}

table.foos-ranking-table .ranking-team-name > a {
    display: block;
}

table.foos-ranking-table .ranking-team-players {
    text-align: center;
}

table.foos-ranking-table .ranking-team-players > div {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
}

table.foos-ranking-table .ranking-team-players img {
    padding: 0;
}

table.foos-ranking-table .ranking-team-history {
    width: 35%;
}

table.foos-ranking-table .ranking-team-icon {
    width: 1%;
    padding: 0;
}

table.foos-ranking-table .ranking-team-icon img {
    padding: 0;
}

table.foos-ranking-table .ranking-team-number img {
    padding: 0;
}

table.foos-ranking-table .ranking-team-number span {
    padding: 0;
}

table.foos-ranking-table td.ranking-team-icon {
    vertical-align: bottom;
}